body{
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

script {
    display: block;
}

.header img{
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
    position: relative;
    top: -50px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  
}