body{
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 20px;

}

ol {
    list-style-position: inside;
}

h2 {
    text-align: center;
    padding: 20px;
    position:relative;
    right: 35px;

}
h3 {
    text-align:center;
    position:relative;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cool h2 {
    text-align: center;
    position: relative;
    padding: 50px 20px 20px 20px;
    left: 2px;
}

.jscript {
    display: block;
    text-align: center;
    padding: 10px;
    height: 400px;
    width: 50%;
    position: relative;
}


.header img{
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
    position: relative;
    top: -80px;
    left: 30px;
}

img {
    position: relative;
    text-align: center;
}

.header h1 {
    position: relative;
    top: 18px;
  
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    top: 400px;
    left: 35px;
}
  
.button:hover {background-color: #3e8e41}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



